<!DOCTYPE html>
<html lang="en">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, width=device-width"></head>
<body style="margin: 2%">
<header>
    <h2>Powiadomienie o nowym tasku <span th:text="${taskCode}"></span>  <span th:text="${taskName}"></span></h2>
</header>

<p>Dnia <b><span th:text="${date}"></span></b> stworzono nowy task w projekcie <b><span th:text="${projectName}"></span></b>,
w sprincie <b><span th:text="${sprintName}"></span></b>.</p>

<footer>
    Z poważaniem zespół Lotrel.
</footer>
</body>
</html>